language: 'unknown'
tasks:
  build:
    command: 'dotnet build'
  test:
    command: 'dotnet test'
  run:
    command: 'dotnet run'
  docker-build:
    command: 'docker compose build {{.ProjectName}}-api'
  docker-up:
    command: 'docker compose up {{.ProjectName}}-api -d'
  logs:
    command: 'docker compose logs {{.ProjectName}}-api -f'
