<Project Sdk="Microsoft.NET.Sdk.Web">

  <PropertyGroup>
    <TargetFramework>net8.0</TargetFramework>
    <RootNamespace>{{.DotnetNamespace}}.API</RootNamespace>
    <AssemblyName>{{.DotnetNamespace}}.API</AssemblyName>
    <ImplicitUsings>enable</ImplicitUsings>
    <Nullable>enable</Nullable>
  </PropertyGroup>

  <ItemGroup>
    <PackageReference Include="Npgsql" Version="8.0.*" />
    <PackageReference Include="Dapper" Version="2.1.*" />
  </ItemGroup>

</Project>
