# Moon workspace configuration
# https://moonrepo.dev/docs/config/workspace
projects:
  - 'api'
  - 'db'
{{- if ne .Frontend "none"}}
  - 'app'
{{- end}}
{{- if .DataProcessing}}
  - 'etl'
{{- end}}
{{- if ne .CLIClient "none"}}
  - 'cli'
{{- end}}
  - 'auth'
