services:
  {{.ProjectName}}-etl:
    build:
      context: ./etl
      dockerfile: Dockerfile
    environment:
      - SCRIPT=${SCRIPT:-example}
      - DB_HOST={{.ProjectName}}-db
      - DB_PORT=5432
      - DB_NAME={{.ProjectName}}
    secrets:
      - db_user
      - db_password
    depends_on:
      {{.ProjectName}}-db:
        condition: service_healthy
    profiles:
      - etl
