language: 'unknown'
tasks:
  build:
    command: 'docker compose build {{.ProjectName}}-db'
  up:
    command: 'docker compose up {{.ProjectName}}-db -d'
  schema:
    command: 'docker compose exec {{.ProjectName}}-db pgschema apply --file /schema/main.sql --host localhost --user postgres --db postgres --schema app --auto-approve'
  snapshot-save:
    command: 'docker compose exec {{.ProjectName}}-db pg_dump -U postgres postgres > ./snapshots/$(date +%Y%m%d_%H%M%S).sql'
  snapshot-load:
    command: 'docker compose exec -T {{.ProjectName}}-db psql -U postgres postgres < $FILE'
  logs:
    command: 'docker compose logs {{.ProjectName}}-db -f'
